<div class="center jumbotron">
 <%= image_tag("photo.jpg", class: "photo", alt: "Sample") %>
 <h1>人事システムへ<br>ようこそ！</h1>

  <%= link_to "Sign in!", new_user_session_path, class: "btn btn-lg btn-primary" %>
</div>
